@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bonbon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden; /* Evita el scroll del body */
}

main {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

aside {
    width: 280px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 1.1rem;
    background-color: #212529;
    z-index: 10;
}

.Links {
    display: flex;
    flex-direction: column;
    margin: auto;
}

aside li {
    list-style-type: none;
    display: flex;
    padding: 20px;
    gap: 15px;
    color: white;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.2s;
}

aside li:hover {
    color: #80ed99;
}

aside li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff24, transparent);
    content: '';
    bottom: 0px;
}

aside li i {
    font-size: 1.3rem;
    width: 25px; /* Ancho fijo para alinear texto */
    text-align: center;
}
.activeLink{
    color:#80ed99
}

.mySwiper {
    flex: 1;
    height: 100%;
}

.home-slide {
    color: white;
    display: flex;
    background-color: #343a40;
    align-items: center;
    padding: 0 50px;
}

.HomeContent {
    flex: 1;
    height: auto;
    padding: 100px;
    user-select: none;
}

.SideImg {
    width: 30%;
    max-width: 300px;
    margin: auto 10px;
    margin-right: 100px;
    position: relative;
}

.SideImg img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.SideImg .top-right-corner,
.bottom-left-corner {
    position: absolute;
}

.bottom-left-corner {
    left: -50px;
    bottom: -50px;
    rotate: -90deg;
}

.top-right-corner {
    right: -50px;
    top: -50px;
    rotate: 90deg;
}

.hr1 {
    width: 150px;
    height: 10px;
    border: none;
    background: #80ed99;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.hr2 {
    width: 10px;
    height: 120px;
    border-bottom-left-radius: 3px;
    background: #80ed99;
    border: none;
    border-bottom-right-radius: 3px;
}

.HomeContent h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 10px;
}

.HomeContent h2 {
    font-size: 2.3em;
    margin-bottom: 10px;
    font-weight: 600;
}

.HomeContent h1 .stylized-name {
    font-weight: 700;
    color: #80ed99;
}

.proffesions {
    color: #85f69f;
}

.HomeContent .heroline {
    font-size: 1.5rem;
    font-weight: 300;
    padding-right: 50px;
}

.buttonGroup {
    display: flex;
    padding: 10px 0px;
    margin-top: 10px;
}

.buttonGroup button, .primary {
    padding: 12px 25px;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 5px;
    cursor: pointer;
    background-color: #1d8637;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttonGroup button:hover, .primary:hover {
    background-color: #27ac4d;
}

.slide-help {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 400;
    z-index: 100;
    font-size: 1.2rem;
}

.swiper-slide {
    width: 100%;
    background-color: #343a40;
    height: 100%;
    overflow-y: auto; /* Permite scroll dentro de cada slide si el contenido es largo */
}

.about-us, .services, .gallery, .contactMe {
    padding: 100px;
    color: white;
    box-sizing: border-box;
}

.heading {
    padding: 20px 10px;
    font-size: 2.5rem;
    color: #80ed99;
}

.about-us h3 {
    padding: 10px;
}

.aboutme-deatils {
    padding: 20px;
    font-weight: 300;
    line-height: 1.6;
}

.about-me-divison {
    display: flex;
    gap: 40px;
}

.about-me-table {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about-me-table li {
    padding: 20px;
    position: relative;
    list-style: none;
}

.about-me-table li::after {
    position: absolute;
    width: 100%;
    left: 0px;
    height: 1px;
    background: linear-gradient(to left, transparent, #ffffff77, transparent);
    content: '';
    bottom: 0px;
}

.about-me-table span {
    color: #80ed99;
    font-weight: bold;
    margin-right: 5px;
}

.about-me-table .buttonGroup {
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding: 50px 20px;
}

.skill-bar {
    width: 40%;
}

.skill-bar li {
    width: 100%;
    padding: 10px;
    list-style: none;
}

.skill-bar p {
    color: #ffffff;
    font-weight: bold;
    margin: 10px 0;
}

.skill-bar .bar {
    width: 100%;
    height: 15px;
    background-color: #272c30;
    border-radius: 20px;
}

.active-bar {
    background-color: #80ed99;
    height: 100%;
    width: auto;
    border-radius: 20px;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    grid-template-rows: auto;
    padding-top: 50px;
}

.services .heading {
    grid-column: 1 / -1;
}

.services .service {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 25px;
    background-color: #212529;
    border-radius: 10px;
    margin: 10px;
    flex-direction: column;
    transition: all 0.25s ease-in-out;
}

.services .service i {
    font-size: 3rem;
    color: #80ed99;
    transition: color 0.25s;
}

.services .service .service-icon {
    padding: 10px;
    margin: 20px auto;
}
.service h2{
    color:#80ed99;
    transition: color 0.25s;
}
.service:hover {
    background-color: #80ed99;
    color: #212529;
    transform: translateY(-10px);
}
.service:hover h2, .service:hover i {
    color: #212529;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-template-rows: auto;
}

.gallery h1, .gallery h2 {
    grid-column: 1 / -1;
}

.gallery h2 {
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 0 10px 20px;
}

.gallery .project {
    background: #212529;
    padding: 5px;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave */
}

/* EFECTO HOVER AÑADIDO */
.gallery .project:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.gallery .project img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.contactMe {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 50px 100px;
}

.contactMe h1 {
    grid-column: 1 / -1;
    font-size: 2.5rem;
    padding: 30px 0;
}

.contact-grid {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 20px;
    width: 100%;
}

.contact-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactinfo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: white;
    text-align: center;
    align-items: center;
    background: #212529;
    border-radius: 10px;
}

.contactinfo i {
    font-size: 2.5rem;
    color: #80ed99;
    margin-bottom: 15px;
}

.contactinfo h3 {
    color: #80ed99;
}

.contactMe form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    color: white;
    background: #212529;
    border-radius: 10px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.form-header h2 {
    margin: 0;
}

.contactMe form input, .contactMe form textarea {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 1.1rem;
    border: 1px solid transparent;
    color: white;
    background-color: #272c30;
    transition: border-color 0.3s;
}

.contactMe form input:focus, .contactMe form textarea:focus {
    border-color: #85f69f;
    outline: none;
}

.contactMe form textarea {
    resize: vertical;
    min-height: 150px;
}

.SocialLinks {
    display: flex;
    gap: 10px;
}

.SocialLinks a {
    color: white;
    text-decoration: none;
}

.SocialLinks i {
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 50%;
    transition-duration: 0.25s;
}

.SocialLinks i:hover {
    background-color: #176d2d;
    color: white;
}

footer {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 0.9rem;
}
